/*
 * Copyright (c) 2024 Microchip Technology Inc
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <freq.h>
#include <microchip/pic32cm2564.dtsi>
#include "pic32cm25xx_xpro-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	model = "PIC32CM25XX Xplained Pro";
	compatible = "pic32cm25xx,xpro", "microchip,pic32cm2564", "microchip,pic32cm25xx";
	chosen {
		zephyr,console = &sercom0;
		zephyr,shell-uart = &sercom0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	aliases {
		led2 = &myled2;
		led6 = &myled6;
		led8 = &myled8;
		led10 = &myled10;
		sw3 = &button1;
	};

	leds {
		//6, 2, 10->LD8, 14->LD10 
		compatible = "gpio-leds";
		myled2: led_2 {
			gpios = <&gpio 2 GPIO_ACTIVE_LOW>;
		};
		myled6: led_6 {
			gpios = <&gpio 6 GPIO_ACTIVE_LOW>;
		};
		myled8: led_8 {
			/* DIO10 drives LD8 */
			gpios = <&gpio 10 GPIO_ACTIVE_LOW>;
		};
		myled10: led_10 {
			/* DIO14 drives LD10 */
			gpios = <&gpio 14 GPIO_ACTIVE_LOW>;
		};
	};

	buttons {
   		compatible = "gpio-keys";
   		button1: button_1 {
   			//gpios = <&gpio 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
   			//gpios = <&gpio 0 GPIO_ACTIVE_LOW>;
   			gpios = <&gpio 0 GPIO_ACTIVE_HIGH>;
   			label = "User button 1";
   		};
	};
};

&cpu0 {                                                                         
        //clock-frequency = <DT_FREQ_M(50)>;                                      
        clock-frequency = <50000000>;                                      
        //clock-frequency = <32000>;                                      
};

&mdio {
	status = "okay";

	//pinctrl-0 = <&mdio_default>;
	//pinctrl-names = "default";

	phy: ethernet-phy@1 {
#if 0
		compatible = "ethernet-phy";
		status = "okay";
		reg = <1>;
#endif
#if 1
		compatible = "microchip,t1s-phy";
		reg = <0x1>;
		plca-enable;
		plca-node-id = <0>;
		plca-node-count = <2>;
		plca-burst-count = <0>;
		plca-burst-timer = <0x80>;
		plca-to-timer = <0x20>;
		status = "okay";
#endif
	};
};

&gmac {
	status = "okay";
	phy-handle = <&phy>;
};

&sercom0 {
	status = "okay";
	compatible = "microchip,pic32-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom0_uart_default>;
	pinctrl-names = "default";
};
dut: &sercom1 {
	status = "disabled";
	compatible = "microchip,pic32-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom1_uart_default>;
	pinctrl-names = "default";
};

dut_aux: &sercom2 {
	status = "disabled";
	compatible = "microchip,pic32-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom2_uart_default>;
	pinctrl-names = "default";
};

&sercom3 {
	status = "disabled";
	compatible = "microchip,pic32-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom3_uart_default>;
	pinctrl-names = "default";
};
