# Microchip PIC32 flash driver config

# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig SOC_FLASH_PIC32
	bool "Microchip PIC32 flash driver"
	default y
	depends on DT_HAS_MICROCHIP_PIC32_NVMCTRL_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_EXPLICIT_ERASE
	select MPU_ALLOW_FLASH_WRITE if ARM_MPU
	help
	  Enable the Microchip PIC32 series internal flash driver.

